svg {
  border: 1px solid red;
}

.graph marker {
  fill: black;
  stroke: none;

}

.graph marker path {
  fill: context-stroke;
  stroke: context-stroke;
}

.graph g.vertex.start circle {
  fill: url(#radial-shape-gradient) #fff;
  stroke: black;
  stroke-width: 4;
}

.graph g.vertex.init circle {
  fill: lightcoral;
  stroke: black;
  stroke-width: 3;
}

.graph g.vertex.build circle, .graph g.vertex.paint circle, .graph g.vertex.mount circle {
  fill: orange;
  stroke: black;
  stroke-width: 3;
}

.graph g.vertex.finish circle {
  fill: url(#linear-shape-gradient) #fff;
  stroke: crimson;
  stroke-width: 4;
}

.graph g.vertex.init text, .graph g.vertex.start text, .graph g.vertex.finish text {
  fill: black;
  font-weight: bolder;
}
.graph g.edge.start line {
  stroke: crimson;
  stroke-width: 4px;
}

.graph g.edge.build line, .graph g.edge.paint line, .graph g.edge.mount line {
  stroke: black;
  stroke-width: 2px;
}

.graph g.edge.finish line {
  stroke: crimson;
  stroke-width: 4px;
}

.graph g.edge text {
  font-weight: bolder;
}

#linear-shape-gradient {
  --color-stop: #f12c06;
  --color-bot: #faed34;
}

#radial-shape-gradient {
  --color-inner: #6e0303;
  --color-outer: #f14c46;
}

.graph g.edge.left line {
  stroke: goldenrod;
  stroke-width: 1px;
}

.graph g.vertex.left circle {
  fill: greenyellow;
  stroke: green;
  stroke-width: 2;
}

.graph g.vertex.left text {
  fill: white;
  stroke: green;
  stroke-width: 1;
}

.graph g.vertex.right circle {
  fill: aqua;
  stroke: blue;
  stroke-width: 2;
}

.graph g.vertex.right text {
  fill: white;
  stroke: black;
  stroke-width: 1;
}
.graph g.edge line {
  stroke: yellow;
  stroke-width: 2;
  fill: none;
}

.graph g.edge.warning line {
  stroke: orange;
  stroke-width: 2;
  fill: orange;
}

.graph g.edge.error line {
  stroke: red;
  stroke-width: 3;
  fill: none;
}

.graph g.edge text {
  fill: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-style: italic;
}

.graph g.vertex circle {
  fill: yellow;
  stroke: black;
  stroke-width: 2;
}

.graph g.vertex.warning circle {
  fill: orange;
  stroke: black;
  stroke-width: 2;
}

.graph g.vertex.warning.source circle {
  fill: orange;
  stroke: red;
  stroke-width: 3;
}

.graph g.vertex.error circle {
  fill: red;
  stroke: black;
  stroke-width: 2;
}

.graph g.vertex text {
  font-family: 'Courier New', Courier, monospace;
  fill: red;
  font-size: medium;
  font-weight: bold;
  text-anchor: "middle"
}

.graph g.vertex.warning text {
  font-family: 'Courier New', Courier, monospace;
  fill: red;
  font-size: medium;
  font-weight: bolder;
  text-anchor: "middle"
}

.graph g.vertex.error text {
  font-family: 'Courier New', Courier, monospace;
  fill: white;
  font-size: medium;
  font-weight: bold;
  text-anchor: "middle"
}

.graph {
  border: 1px solid red;
  width: auto;
  height: auto;
}